window-rule {
    geometry-corner-radius 20 // Set every window radius to 20
    clip-to-geometry true
}

// to find window ids and titles,
// run: `niri msg windows` with window open

/-window-rule {
    match app-id="Alacritty"
    match title="Alacritty"
    open-floating true
    open-maximized false
    default-column-width { proportion 0.75; }
    default-window-height { proportion 0.75;  }
}
window-rule {
    match app-id="com.obsproject.Studio"   
    open-maximized true
}
window-rule {
    match app-id="brave-browser"   
    open-maximized true
}
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
